<!DOCTYPE html>
<html lang="en">
	<head>
		<title>消息查看</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="__PUBLIC__/Css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/uniform.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/select2.css" />		
		<link rel="stylesheet" href="__PUBLIC__/Css/unicorn.main.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/unicorn.grey.css" class="skin-color" />	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>

		
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-align-justify"></i>									
								</span>
								<h5>海报图片</h5>
							</div>
							<div class="widget-content nopadding">
								<form method="post" action="{:U('Admin/Message/addpicture')}"enctype="multipart/form-data" class="form-horizontal" name="picture"/>
								<php>$num=array("一","二","三","四","五","六","七","八","九","十");</php>
								<table style="table-layout:fixed;border-collapse:collapse;valign:middle;"  class="table table-bordered data-table">
									<foreach name='picture' item='p'>
										<div class="control-group">
											<php>$i=$p['m_title']-1;</php>
											<tr>
												<td style="text-valign:middle; text-align:center;width:10%;">图片{$num[$i]}</td>
												<td style="text-align:left;width:150px;height:150px"><img src="__ROOT__/App/Picture/{$p.m_content}.jpg" alt="" /></td>
												<td style="text-valign:middle; text-align:center;width:50%;"><input  type="file" name="{$p.m_content}" style="zoom:120%" value=""/></td>
											</div>
										</tr>
										</div>
									</foreach>
								</table>	
									<div class="form-actions">
										<button type="submit" style="margin-left:90%" class="btn btn-primary">保存</button>
									</div>
								</form>
							</div>
						</div>						
					</div>
				</div>
				
				<div class="row-fluid">
					<div id="footer" class="span12">
						2012 ustc
				</div>
			</div>
		
		
            
            <script src="__PUBLIC__/Js/jquery.min.js"></script>
            <script src="__PUBLIC__/Js/jquery.ui.custom.js"></script>
            <script src="__PUBLIC__/Js/bootstrap.min.js"></script>
            <script src="__PUBLIC__/Js/jquery.uniform.js"></script>
            <script src="__PUBLIC__/Js/select2.min.js"></script>
            <script src="__PUBLIC__/Js/unicorn.js"></script>
            <script src="__PUBLIC__/Js/unicorn.form_common.js"></script>
	</body>
</html>
