<!DOCTYPE html>
<html lang="en">
	<head>
		<title>住房信息</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="__PUBLIC__/Css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/uniform.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/select2.css" />		
		<link rel="stylesheet" href="__PUBLIC__/Css/unicorn.main.css" />
		<link rel="stylesheet" href="__PUBLIC__/Css/unicorn.grey.css" class="skin-color" />	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>
						
			<div class="widget-box">
				<div class="widget-title">
				
					<h5>住房信息</h5>
				</div>
				<div class="widget-content nopadding">
					<table class="table table-bordered data-table">
						<thead>
							<tr>
							<th>栋</th>
							<th>单元</th>
							<th>室</th>
							<th>人数</th>
							<th>蓝牙密钥</th>
							</tr>
						</thead>
						<tbody>
							<foreach name='build' item='b'>
								<tr class="gradeX">
								<td style="text-align:center">{$b.b_zone}</td>
								<td style="text-align:center">{$b.b_unit}</td>
								<td style="text-align:center">{$b.b_room}</td>
								<td style="text-align:center">{$b.b_people}</td>
								<td style="text-align:center">{$b.b_key}</td>
								</tr>
							</foreach>
						</tbody>
						</table>  
						<div class="form-actions">
							<button type="submit" class="btn btn-primary" onclick="window.location.href='initbuild'">初始化住房信息</button>
						</div>
				</div>
			</div>
				
				<div class="row-fluid">
					<div id="footer" class="span12">
						2015 ustc
					</div>
				</div>
		
		
            
            <script src="__PUBLIC__/Js/jquery.min.js"></script>
            <script src="__PUBLIC__/Js/jquery.ui.custom.js"></script>
            <script src="__PUBLIC__/Js/bootstrap.min.js"></script>
            <script src="__PUBLIC__/Js/jquery.uniform.js"></script>
            <script src="__PUBLIC__/Js/select2.min.js"></script>
            <script src="__PUBLIC__/Js/jquery.dataTables.min.js"></script>
            <script src="__PUBLIC__/Js/unicorn.js"></script>
            <script src="__PUBLIC__/Js/unicorn.tables.js"></script>
	</body>
</html>
